<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32114121135-1ug91pq10i0t3s91j3ihrqj5kuj0qkvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32114121135-1ug91pq10i0t3s91j3ihrqj5kuj0qkvi</string>
	<key>API_KEY</key>
	<string>AIzaSyBuQKPpiytrD6Y4Ui9r1w5neZBeATOJOhk</string>
	<key>GCM_SENDER_ID</key>
	<string>32114121135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jogomen</string>
	<key>PROJECT_ID</key>
	<string>penc-tec-jogo-penc</string>
	<key>STORAGE_BUCKET</key>
	<string>penc-tec-jogo-penc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32114121135:ios:efd26c577c1533f7dab75a</string>
</dict>
</plist>